* {
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    margin: 10px;
}

.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}